.jumbotron {
  color: beige;
  background-color: black !important;
}

h5, .jumbotron h2 {
  font-family: 'Press Start 2P', cursive;
}

.black, .black:hover {
  color: black;
}

.button {
  font-family: 'Press Start 2P', cursive;
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;

  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
  0% {
    background-color: darkgoldenrod;
    -webkit-box-shadow: 0 0 3px darkgoldenrod;
  }

  50% {
    background-color: yellow;
    -webkit-box-shadow: 0 0 40px yellow;
  }

  100% {
    background-color: darkgoldenrod;
    -webkit-box-shadow: 0 0 3px darkgoldenrod;
  }
}

@-moz-keyframes glowing {
  0% {
    background-color: darkgoldenrod;
    -moz-box-shadow: 0 0 3px darkgoldenrod;
  }

  50% {
    background-color: yellow;
    -moz-box-shadow: 0 0 40px yellow;
  }

  100% {
    background-color: darkgoldenrod;
    -moz-box-shadow: 0 0 3px darkgoldenrod;
  }
}

@-o-keyframes glowing {
  0% {
    background-color: darkgoldenrod;
    box-shadow: 0 0 3px darkgoldenrod;
  }

  50% {
    background-color: yellow;
    box-shadow: 0 0 40px yellow;
  }

  100% {
    background-color: darkgoldenrod;
    box-shadow: 0 0 3px darkgoldenrod;
  }
}

@keyframes glowing {
  0% {
    background-color: darkgoldenrod;
    box-shadow: 0 0 3px darkgoldenrod;
  }

  50% {
    background-color: yellow;
    box-shadow: 0 0 40px yellow;
  }

  100% {
    background-color: darkgoldenrod;
    box-shadow: 0 0 3px darkgoldenrod;
  }
}

.cursor-up {
  left: -25px;
  top: 0px;
  position: absolute;
}

.continue-up {
  position: absolute;
  top: 10px;
  left: -165px;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
}

.cursor-down {
  left: -25px;
  top: 90px;
  position: absolute;
}

.continue-down {
  position: absolute;
  top: 100px;
  left: -165px;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px !important;
}

.newGame {
  font-family: 'Press Start 2P', cursive;
  color: darkgoldenrod;
  font-size: 13px !important;
}

.justin {
  position: fixed;
  height: 225px;
  bottom: 40px;
  right: 48%;
}

.dave {
  position: fixed;
  height: 225px;
  bottom: 40px;
  right: 38%;
}

.float-left {
  float: left;
}

.container {
  position: relative;
}